.stats {
  padding: 0 24px;
}

.stats-container {
  width: min(100%, var(--container));
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.stat-item {
  min-height: 125px;
  padding: 25px;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 14px;

  align-items: center;

  border-right: 1px solid var(--border);
}

.stat-item:last-child {
  border-right: 0;
}

.stat-item svg {
  grid-row: span 2;
  color: var(--cyan);
}

.stat-item strong {
  font-family: var(--font-display);
  font-size: 1.8rem;
  line-height: 1;
}

.stat-item span {
  color: var(--text-muted);
  font-family: var(--font-mono);
  font-size: 0.65rem;
}

@media (max-width: 750px) {
  .stats-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .stat-item:nth-child(2) {
    border-right: 0;
  }

  .stat-item:nth-child(-n + 2) {
    border-bottom: 1px solid var(--border);
  }
}
